body{
  background-color: #1b1f22;
  color: #1ed664;
  font-family: 'Poppins';
}



/* Nav bar */
.navbar {
    position: fixed;
    justify-content: center;
    z-index: 10;
    width: 100%;
    padding: 10px 0;
    background: #222629;
    box-shadow: 0 0.25rem 1rem rgba(6, 201, 16, 0.300);
    align-items: stretch;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: stretch;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar section {
    width: 600px;
  }

  .navbar section:first-child{
      float: left;
      margin-left: 50px;
  }

  .content {
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto;
  }

  .vertical-center{
    position: relative;
    top: 20vh;
  }

  .align-items{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .pp{
    border-radius: 50%;
    float: right;
    margin: 15px;
  }

  a{
    color: unset;
  }

  a:hover{
    text-decoration: underline;
    color: unset;
  }


  #connect-content{
    flex-direction: column;
  }

  #tracks th{
    text-decoration: underline;
  }

  .selector{
    border: 1px solid #dee2e6;
    padding: 15px;
    margin: 0;
    min-width: 200px;
    color: #1ed664;
  }

  .selectors{
    display: flex;
  }

  .active-btn{
    background-color: #343a40;
  }

  .graph{
    width: 100%;
    background-color: #343a40;
  }

  .space{
    height: 10vh;
  }